.posts {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    padding: 15px;
    overflow: auto;
    height: 425px;
    max-width: 70%;
}